<div class="row">
    <div class="col-lg-4">
        <h2>{{user.name}}</h2>
        <h3>{{user.beruf}}</h3>
        <h4 *ngFor="let telefonnummer of user.telefonnummer">{{telefonnummer}}</h4>
        <p>{{user.adresse}}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{user.name}}</h2>
        <h3>{{user.beruf}}</h3>
        <h4 *ngFor="let telefonnummer of user.telefonnummer">{{telefonnummer}}</h4>
        <p>{{user.adresse}}</p>
    </div>
    <div class="col-lg-4">
        <h2>{{user.name}}</h2>
        <h3>{{user.beruf}}</h3>
        <h4 *ngFor="let telefonnummer of user.telefonnummer">{{telefonnummer}}</h4>
        <p>{{user.adresse}}</p>
    </div>
</div>